Repository onnx/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

Path conditions:
  .azure-pipelines/model-test.yml: any of: onnx_neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, .azure-pipelines/model-test.yml, .azure-pipelines/template/model-template.yml, but not: test
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, .azure-pipelines/ut-3x-ort.yml

fix
  .azure-pipelines/scripts/models/generate_report.py
Due: .azure-pipelines/model-test.yml

fix
  .azure-pipelines/model-test.yml
Due: .azure-pipelines/model-test.yml

fix
  .azure-pipelines/scripts/models/collect_results.py
  .azure-pipelines/scripts/models/generate_report.py
  .azure-pipelines/scripts/models/summarize_results.py
Due: .azure-pipelines/model-test.yml

fix lint issue
  onnx_neural_compressor/algorithms/weight_only/awq.py
Due: .azure-pipelines/model-test.yml

fix
  .azure-pipelines/scripts/models/generate_report.py
  .azure-pipelines/scripts/models/templates/model.jinja2
Due: .azure-pipelines/model-test.yml

for test
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/generate_report.py
  .azure-pipelines/scripts/models/templates/model.jinja2
Due: .azure-pipelines/model-test.yml

fix bug
  test/utils/test_onnx_model.py
Due: .azure-pipelines/ut-3x-ort.yml

fix bug
  README.md
  docs/quantization.md
  docs/quantization_weight_only.md
  docs/smooth_quant.md
  onnx_neural_compressor/quantization/config.py
  test/quantization/test_algorithm_utility.py
  test/utils/test_utility.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

fix pylint
  test/quantization/test_algorithm_utility.py
Due: .azure-pipelines/ut-3x-ort.yml

update ratio
  .azure-pipelines/scripts/models/generate_report.py
Due: .azure-pipelines/model-test.yml

fix ut
  onnx_neural_compressor/algorithms/utility.py
  test/quantization/layer_wise/test_layer_wise.py
  test/quantization/test_algorithm_utility.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

fix ut
  onnx_neural_compressor/algorithms/utility.py
  test/quantization/layer_wise/test_layer_wise.py
  test/quantization/test_algorithm_utility.py
  test/utils/test_onnx_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

add status check
  .azure-pipelines/scripts/models/collect_results.py
  .azure-pipelines/template/model-template.yml
Due: .azure-pipelines/model-test.yml

Enhance UT (#23)
  README.md
  docs/quantization.md
  docs/quantization_weight_only.md
  docs/smooth_quant.md
  onnx_neural_compressor/algorithms/utility.py
  onnx_neural_compressor/algorithms/weight_only/awq.py
  onnx_neural_compressor/algorithms/weight_only/gptq.py
  onnx_neural_compressor/onnx_model.py
  onnx_neural_compressor/quantization/config.py
  onnx_neural_compressor/utility.py
  test/quantization/layer_wise/test_layer_wise.py
  test/quantization/test_algorithm_utility.py
  test/quantization/test_autotune.py
  test/quantization/test_config.py
  test/quantization/test_smooth_quant.py
  test/quantization/weight_only/test_awq.py
  test/quantization/weight_only/test_gptq.py
  test/quantization/weight_only/test_rtn.py
  test/utils/test_onnx_model.py
  test/utils/test_utility.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

fix
  .azure-pipelines/template/model-template.yml
Due: .azure-pipelines/model-test.yml

fix typo
  .azure-pipelines/scripts/models/templates/model.jinja2
Due: .azure-pipelines/model-test.yml

fix report
  .azure-pipelines/scripts/models/generate_report.py
  .azure-pipelines/scripts/models/templates/model.jinja2
Due: .azure-pipelines/model-test.yml

fix lint
  .azure-pipelines/scripts/models/env_setup.sh
  .azure-pipelines/scripts/models/run_onnxrt_models_trigger.sh
Due: .azure-pipelines/model-test.yml

fix path
  .azure-pipelines/scripts/models/collect_results.py
Due: .azure-pipelines/model-test.yml

update agent pool
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/collect_results.py
Due: .azure-pipelines/model-test.yml

enhance layer-wise quant and fix bug
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  onnx_neural_compressor/algorithms/layer_wise/core.py
  onnx_neural_compressor/algorithms/weight_only/awq.py
  onnx_neural_compressor/algorithms/weight_only/gptq.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
  onnx_neural_compressor/onnx_model.py
  onnx_neural_compressor/quantization/matmul_nbits_quantizer.py
  onnx_neural_compressor/quantization/quantize.py
  onnx_neural_compressor/quantization/tuning.py
  test/quantization/layer_wise/test_layer_wise.py
  test/quantization/weight_only/test_awq.py
  test/quantization/weight_only/test_gptq.py
  test/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

update code
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
Due: none

fix
  examples/image_recognition/resnet50/quantization/ptq_static/prepare_model.py
  examples/nlp/bert/quantization/ptq_dynamic/prepare_model.py
  examples/nlp/bert/quantization/ptq_static/prepare_model.py
Due: none

add name
  .azure-pipelines/model-test.yml
Due: .azure-pipelines/model-test.yml

enable more llm example
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/README.md
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/__init__.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/accuracy.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/evaluator.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/models/__init__.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/models/huggingface.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/utils.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/prepare_model.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/requirements.txt
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_benchmark.sh
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_quant.sh
Due: none

update code
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  onnx_neural_compressor/algorithms/layer_wise/core.py
  onnx_neural_compressor/onnx_model.py
Due: .azure-pipelines/model-test.yml

fix onnx_model
  onnx_neural_compressor/algorithms/layer_wise/core.py
  onnx_neural_compressor/onnx_model.py
Due: .azure-pipelines/model-test.yml

Update main.py
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
Due: none

fix CI
  onnx_neural_compressor/algorithms/layer_wise/core.py
Due: .azure-pipelines/model-test.yml

Add model test CI (#18)
  .azure-pipelines/docker/Dockerfile.devel
  .azure-pipelines/model-test.yml
  .azure-pipelines/scripts/models/collect_results.py
  .azure-pipelines/scripts/models/env_setup.sh
  .azure-pipelines/scripts/models/generate_report.py
  .azure-pipelines/scripts/models/run_onnxrt_llm_models_trigger.sh
  .azure-pipelines/scripts/models/run_onnxrt_models_trigger.sh
  .azure-pipelines/scripts/models/summarize_results.py
  .azure-pipelines/scripts/models/templates/model.jinja2
  .azure-pipelines/template/model-template.yml
  examples/.config/model_params_onnxrt.json
  examples/image_recognition/resnet50/quantization/ptq_static/prepare_model.py
  examples/image_recognition/resnet50/quantization/ptq_static/requirements.txt
  examples/nlp/bert/quantization/ptq_dynamic/prepare_model.py
  examples/nlp/bert/quantization/ptq_dynamic/requirements.txt
  examples/nlp/bert/quantization/ptq_static/prepare_model.py
  examples/nlp/bert/quantization/ptq_static/requirements.txt
Due: .azure-pipelines/model-test.yml

fix bug
  onnx_neural_compressor/algorithms/weight_only/gptq.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
  onnx_neural_compressor/onnx_model.py
  test/utils/test_onnx_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

update code
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/README.md
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_quant.sh
Due: none

fix typo
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
Due: none

Update core.py
  onnx_neural_compressor/algorithms/layer_wise/core.py
Due: .azure-pipelines/model-test.yml

Support gemm_to_matmul functionality
  onnx_neural_compressor/algorithms/post_training_quant/quantizer.py
  onnx_neural_compressor/onnx_model.py
  onnx_neural_compressor/quantization/algorithm_entry.py
  onnx_neural_compressor/quantization/config.py
  test/utils/test_onnx_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

Fix default tuning config parameters
  onnx_neural_compressor/quantization/config.py
Due: .azure-pipelines/model-test.yml

Update config.py
  onnx_neural_compressor/quantization/config.py
Due: .azure-pipelines/model-test.yml

update code
  examples/.config/model_params_onnxrt.json
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
Due: none

Update direct_q8.py
  onnx_neural_compressor/algorithms/post_training_quant/operators/direct_q8.py
Due: .azure-pipelines/model-test.yml
