Repository onnx/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

Path conditions:
  .azure-pipelines/model-test.yml: any of: onnx_neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, .azure-pipelines/model-test.yml, .azure-pipelines/template/model-template.yml, but not: test
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, .azure-pipelines/ut-3x-ort.yml

update code
  examples/.config/model_params_onnxrt.json
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/README.md
Due: none

update example config
  examples/.config/model_params_onnxrt.json
Due: none

enhance code
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/prepare_model.py
Due: none

Enhance layer-wise quant and fix bug (#27)
  examples/nlp/huggingface_model/text_generation/llama/quantization/weight_only/main.py
  onnx_neural_compressor/algorithms/layer_wise/core.py
  onnx_neural_compressor/algorithms/weight_only/awq.py
  onnx_neural_compressor/algorithms/weight_only/gptq.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
  onnx_neural_compressor/onnx_model.py
  onnx_neural_compressor/quantization/matmul_nbits_quantizer.py
  onnx_neural_compressor/quantization/quantize.py
  onnx_neural_compressor/quantization/tuning.py
  test/quantization/layer_wise/test_layer_wise.py
  test/quantization/weight_only/test_awq.py
  test/quantization/weight_only/test_gptq.py
  test/quantization/weight_only/test_rtn.py
  test/utils/test_onnx_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

Fix default tuning config parameters (#29)
  onnx_neural_compressor/algorithms/post_training_quant/operators/direct_q8.py
  onnx_neural_compressor/quantization/config.py
Due: .azure-pipelines/model-test.yml

Add doc and align project name
  docs/CONTRIBUTING.md
  docs/autotune.md
  docs/calibration.md
  docs/design.md
  docs/imgs/workflow.png
  docs/installation_guide.md
  docs/quantization.md
  onnx_neural_compressor/__init__.py
  onnx_neural_compressor/version.py
Due: .azure-pipelines/model-test.yml

Update quantization.md
  docs/quantization.md
Due: none

update example config
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_quant.sh
Due: none

fix shell
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_quant.sh
Due: none

fix bug
  docs/quantization.md
Due: none

fix bug
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_benchmark.sh
Due: none

Enable more LLM examples (#28)
  examples/.config/model_params_onnxrt.json
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/README.md
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/__init__.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/accuracy.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/evaluator.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/models/__init__.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/models/huggingface.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/evaluation/utils.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/prepare_model.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/requirements.txt
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_benchmark.sh
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_quant.sh
  onnx_neural_compressor/algorithms/layer_wise/core.py
  onnx_neural_compressor/onnx_model.py
Due: .azure-pipelines/model-test.yml

Add documentation and align project name (#30)
  docs/CONTRIBUTING.md
  docs/autotune.md
  docs/calibration.md
  docs/design.md
  docs/imgs/workflow.png
  docs/installation_guide.md
  docs/quantization.md
  onnx_neural_compressor/__init__.py
  onnx_neural_compressor/version.py
Due: .azure-pipelines/model-test.yml

Update installation_guide.md
  docs/installation_guide.md
Due: none

Update installation_guide.md (#31)
  docs/installation_guide.md
Due: none

update release version in main page
  README.md
  docs/installation_guide.md
Due: none

update release version in main page (#32)
  README.md
  docs/installation_guide.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#33)
  README.md
Due: none

support int4 dequant
  onnx_neural_compressor/algorithms/utility.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
Due: .azure-pipelines/model-test.yml

add standard int4 op for woq
  onnx_neural_compressor/algorithms/weight_only/gptq.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
Due: .azure-pipelines/model-test.yml

support int4 QDQ
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  onnx_neural_compressor/algorithms/utility.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
  onnx_neural_compressor/quantization/algorithm_entry.py
  onnx_neural_compressor/quantization/config.py
  onnx_neural_compressor/quantization/matmul_nbits_quantizer.py
Due: .azure-pipelines/model-test.yml

add SD15 example
  examples/nlp/huggingface_model/text_to_image/stable_diffusion/quantization/ptq_static/README.md
  examples/nlp/huggingface_model/text_to_image/stable_diffusion/quantization/ptq_static/imgs/fp32.png
  examples/nlp/huggingface_model/text_to_image/stable_diffusion/quantization/ptq_static/imgs/int8.png
  examples/nlp/huggingface_model/text_to_image/stable_diffusion/quantization/ptq_static/main.py
  examples/nlp/huggingface_model/text_to_image/stable_diffusion/quantization/ptq_static/requirements.txt
  examples/nlp/huggingface_model/text_to_image/stable_diffusion/quantization/ptq_static/run_benchmark.sh
  examples/nlp/huggingface_model/text_to_image/stable_diffusion/quantization/ptq_static/run_quant.sh
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

Update README.md
  examples/nlp/huggingface_model/text_to_image/stable_diffusion/quantization/ptq_static/README.md
Due: none

fix CI
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/README.md
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/imgs/fp32.png
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/imgs/int8.png
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/main.py
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/requirements.txt
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/run_benchmark.sh
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/run_quant.sh
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

add ut and enhance code
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/README.md
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_benchmark.sh
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_quant.sh
  onnx_neural_compressor/algorithms/layer_wise/core.py
  onnx_neural_compressor/algorithms/utility.py
  onnx_neural_compressor/algorithms/weight_only/awq.py
  onnx_neural_compressor/algorithms/weight_only/gptq.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
  onnx_neural_compressor/constants.py
  onnx_neural_compressor/onnx_model.py
  onnx_neural_compressor/quantization/algorithm_entry.py
  onnx_neural_compressor/quantization/config.py
  onnx_neural_compressor/quantization/matmul_4bits_quantizer.py
  onnx_neural_compressor/quantization/matmul_nbits_quantizer.py
  onnx_neural_compressor/quantization/quant_utils.py
  test/quantization/weight_only/test_awq.py
  test/quantization/weight_only/test_gptq.py
  test/quantization/weight_only/test_rtn.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

Update README.md
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/README.md
Due: none

simplify config and fix ut
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_benchmark.sh
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_quant.sh
  onnx_neural_compressor/algorithms/utility.py
  onnx_neural_compressor/quantization/algorithm_entry.py
  onnx_neural_compressor/quantization/config.py
  test/quantization/post_training_quant/test_operators.py
  test/quantization/test_algorithm_utility.py
  test/quantization/test_config.py
  test/utils/test_onnx_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

Update run_benchmark.sh
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/run_benchmark.sh
Due: none

fix bug
  test/quantization/test_smooth_quant.py
Due: .azure-pipelines/ut-3x-ort.yml

improve ut coverage
  test/quantization/test_algorithm_utility.py
Due: .azure-pipelines/ut-3x-ort.yml
