Repository onnx/neural-compressor: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

Path conditions:
  .azure-pipelines/model-test.yml: any of: onnx_neural_compressor, setup.py, requirements.txt, .azure-pipelines/scripts/models, .azure-pipelines/model-test.yml, .azure-pipelines/template/model-template.yml, but not: test
  .azure-pipelines/ut-3x-ort.yml: any of: neural_compressor_ort, test, setup.py, requirements.txt, .azure-pipelines/scripts/ut, .azure-pipelines/ut-3x-ort.yml

add ut
  test/quantization/test_algorithm_utility.py
Due: .azure-pipelines/ut-3x-ort.yml

Update model_params_onnxrt.json
  examples/.config/model_params_onnxrt.json
Due: none

Update requirements.txt
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/requirements.txt
Due: none

Update run_quant.sh
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/run_quant.sh
Due: none

enhance dump func
  onnx_neural_compressor/algorithms/utility.py
Due: .azure-pipelines/model-test.yml

fix config setting
  onnx_neural_compressor/quantization/config.py
Due: .azure-pipelines/model-test.yml

fix acc issue and refine code
  examples/.config/model_params_onnxrt.json
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/README.md
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  onnx_neural_compressor/algorithms/utility.py
  onnx_neural_compressor/algorithms/weight_only/awq.py
  onnx_neural_compressor/algorithms/weight_only/gptq.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
  onnx_neural_compressor/quantization/algorithm_entry.py
  onnx_neural_compressor/quantization/config.py
  onnx_neural_compressor/quantization/tuning.py
  test/quantization/test_config.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

fix CI
  onnx_neural_compressor/algorithms/utility.py
  onnx_neural_compressor/quantization/config.py
Due: .azure-pipelines/model-test.yml

fix ut
  onnx_neural_compressor/quantization/algorithm_entry.py
  onnx_neural_compressor/quantization/config.py
  test/quantization/weight_only/test_awq.py
  test/quantization/weight_only/test_gptq.py
  test/utils/test_general.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

update code
  onnx_neural_compressor/algorithms/weight_only/gptq.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
  onnx_neural_compressor/quantization/config.py
Due: .azure-pipelines/model-test.yml

remove unused code and add ut
  onnx_neural_compressor/onnx_model.py
  onnx_neural_compressor/quantization/config.py
  test/utils/test_general.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

Support QDQ format for weight-only quantization (#35)
  examples/.config/model_params_onnxrt.json
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/README.md
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/main.py
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_benchmark.sh
  examples/nlp/huggingface_model/text_generation/quantization/weight_only/run_quant.sh
  onnx_neural_compressor/algorithms/layer_wise/core.py
  onnx_neural_compressor/algorithms/utility.py
  onnx_neural_compressor/algorithms/weight_only/awq.py
  onnx_neural_compressor/algorithms/weight_only/gptq.py
  onnx_neural_compressor/algorithms/weight_only/rtn.py
  onnx_neural_compressor/constants.py
  onnx_neural_compressor/onnx_model.py
  onnx_neural_compressor/quantization/algorithm_entry.py
  onnx_neural_compressor/quantization/config.py
  onnx_neural_compressor/quantization/matmul_4bits_quantizer.py
  onnx_neural_compressor/quantization/matmul_nbits_quantizer.py
  onnx_neural_compressor/quantization/quant_utils.py
  onnx_neural_compressor/quantization/tuning.py
  test/quantization/post_training_quant/test_operators.py
  test/quantization/test_algorithm_utility.py
  test/quantization/test_config.py
  test/quantization/test_smooth_quant.py
  test/quantization/weight_only/test_awq.py
  test/quantization/weight_only/test_gptq.py
  test/quantization/weight_only/test_rtn.py
  test/utils/test_general.py
  test/utils/test_onnx_model.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

update
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/README.md
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/imgs/int8.png
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/main.py
Due: none

fix CI
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/main.py
Due: none

Add stable-diffusion-v1-5 example (#34)
  examples/.config/model_params_onnxrt.json
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/README.md
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/imgs/fp32.png
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/imgs/int8.png
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/main.py
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/requirements.txt
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/run_benchmark.sh
  examples/nlp/huggingface_model/text_to_image/stable_diffusion_v1_5/quantization/ptq_static/run_quant.sh
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

Fix typo for auto_detect_ep function
  onnx_neural_compressor/utility.py
Due: .azure-pipelines/model-test.yml

Update requirements.txt
  test/requirements.txt
Due: .azure-pipelines/ut-3x-ort.yml

Fix typo for auto_detect_ep function (#40)
  onnx_neural_compressor/utility.py
  test/requirements.txt
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Create dependabot.yml (#43)
  .github/dependabot.yml
Due: none

Create zizmor.yml
  .github/workflows/zizmor.yml
Due: none

Create zizmor.yml (#49)
  .github/workflows/zizmor.yml
Due: none

smoother: fix SmoothQuant auto-alpha/forwarding bugs, cache large-path activations
  onnx_neural_compressor/algorithms/smoother/core.py
  onnx_neural_compressor/quantization/algorithm_entry.py
Due: .azure-pipelines/model-test.yml

smoother: tqdm progress bars and silence per-eval ORT warning spam
  onnx_neural_compressor/algorithms/smoother/core.py
  requirements.txt
  setup.py
Due: .azure-pipelines/model-test.yml, .azure-pipelines/ut-3x-ort.yml

smoother: make auto-alpha search inclusive of both endpoints
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

calibrator: tqdm over the smooth-model calibration forward passes
  onnx_neural_compressor/algorithms/smoother/calibrator.py
Due: .azure-pipelines/model-test.yml

smoother: per-op-type alpha override in the auto-alpha search
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

smoother: build the QDQ sub-graph session once per (node, alpha), not per sample
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

smoother: report the per-layer alpha auto-search picked
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

smoother: build the QDQ sub-graph session once per node, not per (node, alpha)
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

stats: split fp32 census by quantizability, always show Reshape/Transpose
  onnx_neural_compressor/algorithms/utility.py
Due: .azure-pipelines/model-test.yml

Stream Entropy/Percentile calibration per sample instead of buffering all tensors
  onnx_neural_compressor/algorithms/post_training_quant/calibrate.py
Due: .azure-pipelines/model-test.yml

README: document what the diy branch changes versus upstream
  README.md
Due: none

Memory-conservative ORT sessions for the dump/calibration passes
  onnx_neural_compressor/algorithms/post_training_quant/calibrate.py
  onnx_neural_compressor/algorithms/smoother/calibrator.py
  onnx_neural_compressor/algorithms/utility.py
Due: .azure-pipelines/model-test.yml

smoother: stop the alpha search leaking upb arena memory per evaluation
  README.md
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

smoother: per-node QDQ-loss ranking + SmoothQuantExcludeWorst fp32 exclusion
  README.md
  onnx_neural_compressor/algorithms/smoother/core.py
  onnx_neural_compressor/quantization/algorithm_entry.py
Due: .azure-pipelines/model-test.yml

smoother: resumable checkpoints for the SmoothQuant pipeline
  onnx_neural_compressor/algorithms/smoother/core.py
  onnx_neural_compressor/quantization/algorithm_entry.py
Due: .azure-pipelines/model-test.yml

smoother: alpha checkpoint is now append-only alphas.jsonl
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml

smoother: pass providers= to the Calibrator so --ep cuda actually calibrates on the GPU
  onnx_neural_compressor/algorithms/smoother/core.py
Due: .azure-pipelines/model-test.yml
